body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

.container {
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
}

h2 {
    margin-top: 20px;
}